Python repetition

In [1]:
print("Hej")

Hej

In [2]:
school = "Handelsakademin"
school

'Handelsakademin'

In [3]:
type(school)

str

In [4]:
len(school)

15

In [6]:
school[0], school[-1]

('H', 'n')

In [8]:
school[0:7], school[3:7]

('Handels', 'dels')

In [9]:
# reverse list
school[::-1]

'nimedakaslednaH'

plus operator is polymorphic and it's operator overloaded in different classes

In [12]:
"NBI-" + school

'NBI-Handelsakademin'

In [14]:
cool_list = ["fruit", 89, False, [1,2,3]]
cool_list

['fruit', 89, False, [1, 2, 3]]

In [15]:
cool_list + [True, True, False]

['fruit', 89, False, [1, 2, 3], True, True, False]

In [18]:
cool_list + list((True, True, False))

['fruit', 89, False, [1, 2, 3], True, True, False]

In [25]:
#x = int[10];
#for (int i = 0; ; i<10; i++){
#   x[i] = i;
#}

x = []
for i in range(10):
    x.append(i)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
range(10)

range(0, 10)

In [23]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
[i for i in range(10) if i %2]

[1, 3, 5, 7, 9]

In [26]:
x[5] = "muterad"
x

[0, 1, 2, 3, 4, 'muterad', 6, 7, 8, 9]

In [27]:
my_tuple = (2,5,3)
my_tuple

(2, 5, 3)

In [29]:
my_tuple[1]

5

In [30]:
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

Sets

In [32]:
set([6,6,2,3,1])

{1, 2, 3, 6}

Dict
- Key-value pairs

In [34]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [35]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)